/* GENERAL */
body {
    font-family: 'Roboto','Raleway','Open Sans', sans-serif;
    color: #434455;
}
ul { list-style: none;}
:root {
    --primary-brand-color: #4D5AE5;
    --shadow-headings-color: #2E2F42;
    --success-color: #31D0AA;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-mode-color: #F4F4FD;
}

/* HEADER */
.logo-web{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
}
.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--shadow-headings-color);
}
.nav-list-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--shadow-headings-color);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.contact-item-link {
    font-size: 16px;
    line-height: 1.5;
    color: var(--body-text-color);
}

/* BUTTON-FILTERS */

.button-filter {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: #F4F4FD;
    border: 0cm;
}
.button-filter:hover, .button-filter:focus {
    background-color: var(--primary-brand-color);
    color: #FFFFFF;
    border: 0cm;
}
button {cursor:pointer}

.hero-button, hero-button:focus {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;

    background-color: var(--primary-brand-color);
    color: #FFFFFF;
    border: 0cm;
    padding: 16px 32px;
}

/* LINKS */
a:hover, a:focus {
    font-weight: 600;
    font-size: 16px
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #4D5AE5;
}
a {text-decoration: none;
}

/* HERO */
.hero-section-title {    
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color:var(--shadow-headings-color);
}

/* PRINCIPLES */
.principles-section-list-item-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.principles-section-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);

}

/* WHAT WE ARE DOING */
.what-we-are-doing-header, .our-team-header {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--shadow-headings-color);
}

/* OUR TEAM */
.our-team-list-item-header{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--shadow-headings-color);
}
.our-team-list-item-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}
.footer-text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    background-color: var(--shadow-headings-color);
}
